<table class="table">
    <thead>
        <tr id="sort">
            <th><a>Position <b id="arrow">&#8592;</b></a></th>
            <th><a>Company</a></th>
            <th><a>Location</a></th>
            <th></th>
        </tr>
    </thead>
    {% for entity in jobs %}
    <tbody>
        <tr class="{{ cycle(['even', 'odd'], loop.index) }}" >
            <td>{{entity.position}}</td>
            <td>{{entity.company}}</td>
            <td>{{entity.location}}</td>
            <td><a href="{{ path('project_line_of_work_job_show', {'id': entity.id}) }}">more details...</a></td>
        </tr>
    </tbody>
    {% endfor %}
</table>